services:
  nginx:
    image: nginx:latest
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    restart: always
    networks:
      - app-network
    depends_on:
      - service1
      - service2

  service1:
    image: ${REGISTRY:-service1}:${TAG:-latest}
    build:
      context: ./service1
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
    networks:
      - app-network

  service2:
    image: ${REGISTRY:-service2}:${TAG:-latest}
    build:
      context: ./service2
    ports:
      - target: 8000
        published: 8001
        protocol: tcp
        mode: host
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
    networks:
      - app-network

networks:
  app-network:
    driver: overlay